@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    //处理幻灯片浏览图片图片变形的问题（传送带图片变形问题处理）
    function DrawImage(hotimg) {
        $(hotimg).jqthumb({
            classname: 'jqthumb',
            width: '100%',
            height: '100%',
            after: function (imgObj) {
                imgObj.css('opacity', 0).animate({ opacity: 1 }, 2000);
            }
        });
    }
</script>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-8 column">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="2000">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="active item">
                        <img src="~/Content/Photos/book1.jpg" onload="DrawImage(this)" />
                    </div>
                    <div class="item">
                        <img src="~/Content/Photos/book2.jpg" onload="DrawImage(this)" />
                    </div>
                    <div class="item">
                        <img src="~/Content/Photos/book3.jpg" onload="DrawImage(this)" />
                    </div>
                    <div class="item">
                        <img src="~/Content/Photos/book4.jpg" onload="DrawImage(this)" />
                    </div>
                </div>
                <!-- Controls -->
                <a class="carousel-control left" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="carousel-control right" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
            <div class="topnews">
                <h2>
                    <span>
                        <a href="/" target="_blank">栏目标题</a>
                        <a href="/" target="_blank">栏目标题</a>
                        <a href="/" target="_blank">栏目标题</a>
                    </span>
                    <b>文章</b>推荐
                </h2>
                <!--利用BootStrap分页控件进行分页，将博客内容以Div的方式呈现出来-->
                <div class="blogs">
                    <figure><img src="../../Content/img/01.jpg"></figure>
                    <ul>
                        <h3><a href="/">住在手机里的朋友</a></h3>
                        <p>通信时代，无论是初次相见还是老友重逢，交换联系方式，常常是彼此交换名片，然后郑重或是出于礼貌用手机记下对方的电话号码。在快节奏的生活里，我们不知不觉中就成为住在别人手机里的朋友。又因某些意外，变成了别人手机里匆忙的过客，这种快餐式的友谊 ...</p>
                        <p class="autor"><span class="lm f_l"><a href="/">个人博客</a></span><span class="dtime f_l">2014-02-19</span><span class="viewnum f_r">浏览（<a href="/">459</a>）</span><span class="pingl f_r">评论（<a href="/">30</a>）</span></p>
                    </ul>
                </div>
                <div class="blogs">
                    <figure><img src="../../Content/img/02.jpg"></figure>
                    <ul>
                        <h3>
                            <a href="/">教你怎样用欠费手机拨打电话</a>
                        </h3>
                        <p>初次相识的喜悦，让你觉得似乎找到了知音。于是，对于投缘的人，开始了较频繁的交往。渐渐地，初识的喜悦退尽，接下来就是仅仅保持着联系，平淡到偶尔在节假曰发短信互致问候...</p>
                        <p class="autor"><span class="lm f_l"><a href="/">个人博客</a></span><span class="dtime f_l">2014-02-19</span><span class="viewnum f_r">浏览（<a href="/">459</a>）</span><span class="pingl f_r">评论（<a href="/">30</a>）</span></p>
                    </ul>
                </div>
                <div class="blogs">
                    <figure><img src="../../Content/img/03.jpg"></figure>
                    <ul>
                        <h3><a href="/">原来以为，一个人的勇敢是，删掉他的手机号码...</a></h3>
                        <p>原来以为，一个人的勇敢是，删掉他的手机号码、QQ号码等等一切，努力和他保持距离。等着有一天，习惯不想念他，习惯他不在身边,习惯时间把他在我记忆里的身影磨蚀干净... </p>
                        <p class="autor"><span class="lm f_l"><a href="/">个人博客</a></span><span class="dtime f_l">2014-02-19</span><span class="viewnum f_r">浏览（<a href="/">459</a>）</span><span class="pingl f_r">评论（<a href="/">30</a>）</span></p>
                    </ul>
                </div>
                <div class="blogs">
                    <figure><img src="../../Content/img/04.jpg"></figure>
                    <ul>
                        <h3><a href="/">手机的16个惊人小秘密，据说99.999%的人都不知</a></h3>
                        <p>引导语：知道么，手机有备用电池，手机拨号码12593+电话号码=陷阱……手机具有很多你不知道的小秘密，说出来一定很惊奇！不信的话就来看看吧！...</p>
                        <p class="autor"><span class="lm f_l"><a href="/">个人博客</a></span><span class="dtime f_l">2014-02-19</span><span class="viewnum f_r">浏览（<a href="/">459</a>）</span><span class="pingl f_r">评论（<a href="/">30</a>）</span></p>
                    </ul>
                </div>
                <div class="blogs">
                    <figure><img src="../../Content/img/05.jpg"></figure>
                    <ul>
                        <h3><a href="/">你面对的是生活而不是手机</a></h3>
                        <p>每一次与别人吃饭，总会有人会拿出手机。以为他们在打电话或者有紧急的短信，但用余光瞟了一眼之后发现无非就两件事：1、看小说，2、上人人或者QQ...</p>
                        <p class="autor"><span class="lm f_l"><a href="/">个人博客</a></span><span class="dtime f_l">2014-02-19</span><span class="viewnum f_r">浏览（<a href="/">459</a>）</span><span class="pingl f_r">评论（<a href="/">30</a>）</span></p>
                    </ul>
                </div>
                <div class="blogs">
                    <figure><img src="../../Content/img/06.jpg"></figure>
                    <ul>
                        <h3><a href="/">豪雅手机正式发布! 在法国全手工打造的奢侈品</a></h3>
                        <p>现在跨界联姻，时尚、汽车以及运动品牌联合手机制造商联合发布手机产品在行业里已经不再新鲜，上周我们给大家报道过著名手表制造商瑞士泰格·豪雅（Tag Heuer） 联合法国的手机制造商Modelabs发布的一款奢华手机的部分谍照，而近日该手机终于被正式发布了...</p>
                        <p class="autor"><span class="lm f_l"><a href="/">个人博客</a></span><span class="dtime f_l">2014-02-19</span><span class="viewnum f_r">浏览（<a href="/">459</a>）</span><span class="pingl f_r">评论（<a href="/">30</a>）</span></p>
                    </ul>
                </div>
                <div class="blogs">
                    <figure><img src="../../Content/img/04.jpg"></figure>
                    <ul>
                        <h3><a href="/">手机的16个惊人小秘密，据说99.999%的人都不知</a></h3>
                        <p>引导语：知道么，手机有备用电池，手机拨号码12593+电话号码=陷阱……手机具有很多你不知道的小秘密，说出来一定很惊奇！不信的话就来看看吧！...</p>
                        <p class="autor"><span class="lm f_l"><a href="/">个人博客</a></span><span class="dtime f_l">2014-02-19</span><span class="viewnum f_r">浏览（<a href="/">459</a>）</span><span class="pingl f_r">评论（<a href="/">30</a>）</span></p>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 column">
            <div class="tabbable" id="tabs-895066">
                <ul class="nav nav-tabs" id="tab">
                    <li>
                        <a href="#panel-787597" data-toggle="tab">最新文章</a>
                    </li>
                    <li class="active">
                        <a href="#panel-856873" data-toggle="tab">站长推荐</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane" id="panel-787597">
                        <ul>
                            <li><a href="/" target="_blank">住在手机里的朋友</a></li>
                            <li><a href="/" target="_blank">教你怎样用欠费手机拨打电话</a></li>
                            <li><a href="/" target="_blank">原来以为，一个人的勇敢是，删掉他的手机号码...</a></li>
                            <li><a href="/" target="_blank">手机的16个惊人小秘密，据说99.999%的人都不知</a></li>
                            <li><a href="/" target="_blank">你面对的是生活而不是手机</a></li>
                            <li><a href="/" target="_blank">豪雅手机正式发布! 在法国全手工打造的奢侈品</a></li>
                        </ul>
                    </div>
                    <div class="tab-pane active" id="panel-856873">
                        <ul>
                            <li><a href="/" target="_blank">原来以为，一个人的勇敢是，删掉他的手机号码...</a></li>
                            <li><a href="/" target="_blank">手机的16个惊人小秘密，据说99.999%的人都不知</a></li>
                            <li><a href="/" target="_blank">住在手机里的朋友</a></li>
                            <li><a href="/" target="_blank">教你怎样用欠费手机拨打电话</a></li>
                            <li><a href="/" target="_blank">你面对的是生活而不是手机</a></li>
                            <li><a href="/" target="_blank">豪雅手机正式发布! 在法国全手工打造的奢侈品</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="cloud">
                <h3>标签云</h3>
                <ul>
                    <li><a href="/">个人博客</a></li>
                    <li><a href="/">web开发</a></li>
                    <li><a href="/">前端设计</a></li>
                    <li><a href="/">Html</a></li>
                    <li><a href="/">CSS3</a></li>
                    <li><a href="/">Html5+css3</a></li>
                    <li><a href="/">百度</a></li>
                    <li><a href="/">Javasript</a></li>
                    <li><a href="/">web开发</a></li>
                    <li><a href="/">前端设计</a></li>
                    <li><a href="/">Html</a></li>
                    <li><a href="/">CSS3</a></li>
                    <li><a href="/">Html5+css3</a></li>
                    <li><a href="/">百度</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

